<header>
  <nav class="navbar">
    <div class="container">
      <div class="logo">
        <img src="../../../assets/imgs/video_icon_white.png" alt="Imagem de um calendário com relógio a frente" width="50" height="50">
        <div class="dash"></div>
        <div class="title-logo title-font">
          <span>Courses</span>
        </div>
      </div>
      <div appAccess>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <button type="button" (click)="navigateHome()" class="btn mx-2">
              Home
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn mx-2" (click)="btnRouterCoursesSelf()">
              Meus cursos
            </button>
          </li>
          <li class="nav-item" appAccessIsTeacher >
            <button type="button" (click)="navigateToCreateNewCourse()" class="btn mx-2">
              Cadastrar Curso
            </button>
          </li>
        </ul>
      </div>
        <div class="perfil" appAccess >
          <button type="button" class="btn mx-2" (click)="logout()">
            <i class="bi bi-box-arrow-right"></i>
          </button>
        </div>
    </div>
  </nav>
</header>
